Repository maxwell-k/vimfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check, npm exec -- prettier --check --prose-wrap always

Format lua on save with Neovim
  .gitmodules
  nvim/init.lua
Due: npm exec -- prettier --check

Configure neovim with pyright
  .gitmodules
  .prettierignore
  nvim/README.md
  nvim/init.lua
Due: npm exec -- prettier --check, npm exec -- prettier --check --prose-wrap always

Configure neovim with Black
  nvim/init.lua
Due: npm exec -- prettier --check

Configure flake8 with neovim
  nvim/init.lua
Due: npm exec -- prettier --check

nvim: turn off hidden
  nvim/init.lua
Due: npm exec -- prettier --check

Add nvim-comment
  .gitmodules
  nvim/init.lua
Due: npm exec -- prettier --check

Configure reorder-python-imports
  nvim/init.lua
Due: npm exec -- prettier --check

Improve neovim configuration
  .gitmodules
  nvim/ftplugin/lua.lua
  nvim/ftplugin/python.lua
  nvim/init.lua
Due: npm exec -- prettier --check

Use shiftwidth=4 for todo.txt
  ftplugin/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Prefer reorder to isort
  autoload/toggle.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Pass reuse lint
  README.md
  nvim/README.md
  nvim/ftplugin/lua.lua
  nvim/ftplugin/python.lua
  nvim/init.lua
Due: npm exec -- prettier --check, npm exec -- prettier --check --prose-wrap always

Handles lines with many URLs in todo.txt
  ftplugin/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Support running prettier offline
  site.yaml
Due: npm exec -- prettier --check

lint-all and git commit pass offline
  .lintstagedrc.yaml
  ale_linters/yaml/jsyaml.vim
  autoload/ale/fixers/embedme.vim
  autoload/ale/fixers/markdown_toc.vim
  hooks/pre-commit
  site.yaml
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Move the task that reports a change last
  site.yaml
Due: npm exec -- prettier --check

Fix dates in todo.txt-vim
  after/syntax/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Add spelling file
  .en.utf-8.add
  .reuse/dep5
Due: npm exec -- prettier --check

Add a fixer for cog
  .reuse/dep5
  autoload/ale/fixers/cog.vim
  autoload/ale/fixers/embedme.vim
  ftplugin/cog.vim
  tests/automated/cog/example.txt
  tests/automated/cog/missing.txt
  tests/automated/cog/run.sh
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Prefer vim-commentary
  .gitmodules
  nvim/init.lua
Due: npm exec -- prettier --check

vim#Cancel → vim#cancel
  autoload/vim.vim
  ftplugin/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Sort functions in autoload/vim.vim
  autoload/vim.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Read unclassifiable application modules
  .reuse/dep5
  nvim/.gitignore
  nvim/init.lua
Due: npm exec -- prettier --check

Match ftplugin/dot.vim to GraphViz canon
  ftplugin/dot.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Add a shortcut to open a URL in a browser
  autoload/vim.vim
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Add an ALE fixer to sort files
  autoload/ale/fixers/sort.vim
  ftplugin/gitignore.vim
  tests/automated/gitignore/run.sh
  tests/automated/gitignore/sort.vader
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Also sort spell files
  filetype.vim
  ftplugin/spellfile.vim
  tests/automated/file-type-detection/fixtures/.en.utf-8.add
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Stop wrapping black files
  ftplugin/black.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Automatically trim white space in todo.txt
  ftplugin/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Sort unique
  autoload/ale/fixers/sort.vim
  tests/automated/gitignore/sort.vader
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Add a command to stage the current file
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Switch to deno for typescript
  ftplugin/typescript.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Remove isort settings
  ftplugin/isort.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Use linkscan with markdown
  autoload/vim.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Support ignored configuration for reorder-p…
  .gitignore
  ftplugin/reorder.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Update markdown plugin
  .gitmodules
Due: npm exec -- prettier --check

Remove toml submodule
  .gitmodules
Due: npm exec -- prettier --check

Mark vim script in markdown as text
  ftplugin/markdown.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Add a comment referencing linkscan
  autoload/vim.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Path conditions:
  awk '$0 ~ /.{81}/ { exit 1 }': (any of: *.vim) or (any of: ./vimrc)
  vint -s: (any of: *.vim) or (any of: ./vimrc)
  npm exec -- prettier --check: any of: **/*
  npm exec -- prettier --check --prose-wrap always: any of: README.md
