Repository maxwell-k/vimfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, sort -c, prettier --prose-wrap always --list-different

.lintstagedrc.yaml:

"*.vim": ["awk '$0 ~ /.{81}/ { exit 1 }'", vint -s]
./.gitignore: sort -c
./README: prettier --prose-wrap always --list-different
./tests/README: prettier --prose-wrap always --list-different
./vimrc: ["awk '$0 ~ /.{81}/ { exit 1 }'", vint -s]

Make reuse lint pass
  .gitmodules
  .reuse/dep5
  after/syntax/todo.vim
  ftplugin/gefilte.vim
  ftplugin/go.vim
  ftplugin/groovy.vim
  ftplugin/impress.vim
  ftplugin/remark.vim
  ftplugin/reorder.vim
  tests/automated/file-type-detection/run.py
  tests/manual/example.html
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Hook handles rebasing
  hooks/pre-commit
Due: none

Use npm exec for js-yaml
  ale_linters/yaml/jsyaml.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Separate Python tests
  tests/automated/python/python.vader
  tests/automated/python/run.sh
  tests/automated/vader/run.vader
Due: none

Add fsfe-reuse to automated test suite
  tests/automated/reuse/run.sh
Due: none

Separate bean-format tests
  tests/README
  tests/automated/bean-format/bean-format.vader
  tests/automated/bean-format/run.sh
  tests/automated/vader/run.vader
Due: prettier --prose-wrap always --list-different

Automate the test for html modelines
  after/syntax/html.vim
  tests/README
  tests/automated/html/html.vader
  tests/automated/html/run.sh
  tests/manual/example.html
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, prettier --prose-wrap always --list-different

Add tests to js-yaml linter
  tests/automated/js-yaml/js-yaml.vader
  tests/automated/js-yaml/run.sh
Due: none

Add an integration test for js-yaml
  ale_linters/yaml/jsyaml.vim
  tests/automated/js-yaml/integration.vader
  tests/automated/js-yaml/run.sh
  tests/automated/js-yaml/unit.vader
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Upgrade supported version of js-yaml
  ale_linters/yaml/jsyaml.vim
  site.yaml
  tests/automated/js-yaml/unit.vader
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Upgrade prettier
  .lintstagedrc.yaml
Due: none

Default prose-wrap setting for prettier YAML
  ftplugin/yaml.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Loop over npm exec tools
  site.yaml
Due: none

Use prettier parser detected by fixer
  ftplugin/markdown.vim
  ftplugin/yaml.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Install prettier to ~/.local/bin
  .lintstagedrc.yaml
  site.yaml
Due: none

Gracefully handle failures
  site.yaml
Due: none

Add an integration test for jsonlint
  tests/automated/jsonlint/integration.vader
  tests/automated/jsonlint/run.sh
Due: none

Cache prettier and use jsonlint
  site.yaml
Due: none

Prefer :Toc to generating tags for markdown
  ftplugin/markdown-toc.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Script running tests in a container
  .reuse/dep5
  pipx.yaml
  site.yaml
  tests/README
  tests/podman-run.sh
Due: prettier --prose-wrap always --list-different

Keep task tracking separate
  .gitignore
Due: sort -c

Highlight projects in todo.txt differently
  syntax/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Add public name and URL
  .reuse/dep5
Due: none

Document decisions in the README
  README
Due: prettier --prose-wrap always --list-different

Document testing in a Linux container
  README
  tests/podman-run.sh
Due: prettier --prose-wrap always --list-different

Add a mapping to markdown
  ftplugin/markdown.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Make sure all tests run recently before merge
  .gitignore
  hooks/pre-merge-commit
  tests/run.sh
Due: sort -c

Add the lint-all script
  site.yaml
Due: none

Clean up temporary file - run.txt
  .gitignore
  tests/automated/file-type-detection/run.py
Due: sort -c

Document .gitignore
  .gitignore
  .lintstagedrc.yaml
  README
Due: sort -c, prettier --prose-wrap always --list-different

Rename master to main
  hooks/pre-commit
  hooks/pre-merge-commit
Due: none

Rename README to README.md
  .reuse/dep5
  README.md
  tests/README.md
Due: none

Enforce prose-wrap on README.md
  .lintstagedrc.yaml
Due: none

Copy edit README.md
  README.md
Due: none

Add further mappings for todo.txt
  ftplugin/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Add a mapping for use on a tabs
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Install pyright
  site.yaml
Due: none

Add a check that tests were run against a branch
  hooks/pre-merge-commit
  tests/run.sh
Due: none

Handle fzf on Fedora
  site.yaml
Due: none

Name files specifically
  .reuse/dep5
  README.md
  tests/README.md
  tests/inside-alpine-edge.sh
  tests/podman-run-alpine-edge.sh
  tests/podman-run.sh
Due: none
