Repository maxwell-k/vimfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, sort -c, prettier --prose-wrap always --list-different

.lintstagedrc.yaml:

"*.vim": ["awk '$0 ~ /.{81}/ { exit 1 }'", vint -s]
./.gitignore: sort -c
./README: prettier --prose-wrap always --list-different
./tests/README: prettier --prose-wrap always --list-different
./vimrc: ["awk '$0 ~ /.{81}/ { exit 1 }'", vint -s]

Remove personal filetype for vim
  autoload/toggle.vim
  filetype.vim
  ftplugin/personal.vim
  ftplugin/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Do not set spellfile for other netrw files
  autoload/vim.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Disable the pycodestyle within pylsp
  ftplugin/gefilte.vim
  ftplugin/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Add gefilte file type
  ftplugin/gefilte.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Handle spaces in file names
  autoload/vim.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Switch to pyright
  ftplugin/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Use gofmt
  ftplugin/go.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

aD toggles python linters
  autoload/toggle.vim
  ftplugin/python.vim
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Update gefilte settings
  ftplugin/gefilte.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Switch from tmux to tmux-256color for spaceship
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Better test for colours
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Update README
  README
Due: prettier --prose-wrap always --list-different

Follow hterm branch rename
  site.yaml
Due: none

Update submodules
  .gitmodules
  README
  ftplugin/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, prettier --prose-wrap always --list-different

Remove \] mapping in preference to :Toc
  ftplugin/markdown-toc.vim
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Finish removing jsx
  ftplugin/jsx.vim
  tests/file-type-detection/src/example.js
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Don't test for absent rst.automatic ftdetect
  tests/file-type-detection/planning/example.txt
Due: none

Remove tests related to deleted code
  tests/index.vader
  tests/test_terraform_handler.vader
  tests/test_terraform_terraform_command_callback.vader
Due: none

Remove dependency on runVimTests
  tests/README
  tests/run.sh
  tests/test-transform.msgok
  tests/test-transform.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, prettier --prose-wrap always --list-different

Automate file-type-detection checks
  .gitignore
  tests/README
  tests/file-type-detection.py
  tests/run.sh
Due: sort -c, prettier --prose-wrap always --list-different

Refactor tests/file-type-detection.py
  tests/file-type-detection.py
Due: none

Remove unnecessary vim.vim
  ftplugin/vim.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Refactor tests/test-transform.vim
  tests/test-transform.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Fix a spelling mistake
  tests/manual/example.html
Due: none

Layout tests
  .gitignore
  tests/README
  tests/automated/file-type-detection/fixtures/.ansible-lint
  tests/automated/file-type-detection/fixtures/.env
  tests/automated/file-type-detection/fixtures/APKBUILD
  tests/automated/file-type-detection/fixtures/Example.svelte
  tests/automated/file-type-detection/fixtures/Jenkinsfile
  tests/automated/file-type-detection/fixtures/done.txt
  tests/automated/file-type-detection/fixtures/example.bas
  tests/automated/file-type-detection/fixtures/example.dart
  tests/automated/file-type-detection/fixtures/example.docker
  tests/automated/file-type-detection/fixtures/example.gfm
  tests/automated/file-type-detection/fixtures/example.mdx
  tests/automated/file-type-detection/fixtures/example.tf
  tests/automated/file-type-detection/fixtures/example.tfstate
  tests/automated/file-type-detection/fixtures/example.tfvars
  tests/automated/file-type-detection/fixtures/example.vader
  tests/automated/file-type-detection/fixtures/example.yaml
  tests/automated/file-type-detection/fixtures/example.yaml.jinja
  tests/automated/file-type-detection/fixtures/hosts
  tests/automated/file-type-detection/fixtures/known_hosts
  tests/automated/file-type-detection/fixtures/playbooks/example.yaml
  tests/automated/file-type-detection/fixtures/site-packages/example/example.py
  tests/automated/file-type-detection/fixtures/someday-maybe.txt
  tests/automated/file-type-detection/fixtures/tickler.txt
  tests/automated/file-type-detection/fixtures/todo.txt
  tests/automated/file-type-detection/run.py
  tests/automated/file-type-detection/run.sh
  tests/automated/transform/run.sh
  tests/automated/transform/run.vim
  tests/automated/vader/Python.vader
  tests/automated/vader/run.sh
  tests/automated/vader/run.vader
  tests/automated/vader/test_beanformat_fixer_callback.vader
  tests/run.sh
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, sort -c, prettier --prose-wrap always --list-different

Automate a beancount test
  tests/automated/beancount/example.beancount
  tests/automated/beancount/run.sh
  tests/manual/example.beancount
Due: none

Report fewer changes from site.yaml
  site.yaml
Due: none

Automate embedme tests and use npx
  autoload/ale/fixers/embedme.vim
  site.yaml
  tests/automated/embedme/example.md
  tests/automated/embedme/example.sh
  tests/automated/embedme/missing.md
  tests/automated/embedme/run.sh
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Automate markdown-toc tests and use npx
  autoload/ale/fixers/markdown_toc.vim
  site.yaml
  tests/automated/markdown-toc/example.md
  tests/automated/markdown-toc/missing.md
  tests/automated/markdown-toc/run.sh
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Document running tests
  Makefile
  README
  tests/README
  tests/run.sh
Due: prettier --prose-wrap always --list-different

Handle return code from markdown-toc
  site.yaml
Due: none

Stop using a YAML template
  .reuse/dep5
  example.yaml
  filetype.vim
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Document using lint-staged
  .gitignore
  README
  hooks/pre-commit
Due: sort -c, prettier --prose-wrap always --list-different

Avoid committing directly to master
  hooks/pre-commit
Due: none

Avoid committing to master
  hooks/pre-commit
  tests/README
Due: prettier --prose-wrap always --list-different

tfstate is JSON, so that prettier doesn't error
  filetype.vim
  tests/automated/file-type-detection/fixtures/example.tfstate
  tests/automated/file-type-detection/run.py
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s

Run prettier in pre-commit via lint-staged
  .lintstagedrc.yaml
  .prettierignore
  site.yaml
Due: none

Fix yaml filetype detection
  tests/automated/file-type-detection/fixtures/example.yaml
  tests/automated/file-type-detection/fixtures/tasks/example.yaml
Due: none

Use reuse-compliant executable run.sh scripts
  README
  tests/automated/beancount/run.sh
  tests/automated/embedme/run.sh
  tests/automated/file-type-detection/run.sh
  tests/automated/markdown-toc/run.sh
  tests/automated/transform/run.sh
  tests/automated/vader/run.sh
  tests/run.sh
Due: prettier --prose-wrap always --list-different

Add copyright information
  .reuse/dep5
  hooks/pre-commit
  site.yaml
Due: none
