Repository maxwell-k/vimfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check, npm exec -- prettier --check --prose-wrap always

.lintstagedrc.yaml:

"*.vim": ["awk '$0 ~ /.{81}/ { exit 1 }'", vint -s]
"**/*": npm exec -- prettier --check
./vimrc: ["awk '$0 ~ /.{81}/ { exit 1 }'", vint -s]
README.md: npm exec -- prettier --check --prose-wrap always

Conditionally skip test that relies on beancount
  tests/automated/beancount/run.sh
Due: npm exec -- prettier --check

Test on Fedora as well
  tests/inside-fedora-latest.sh
  tests/podman-run-fedora-latest.sh
Due: npm exec -- prettier --check

Run embedme in hooks
  .lintstagedrc.yaml
Due: npm exec -- prettier --check

Switch to running playbooks against all
  pipx.yaml
  site.yaml
  tests/README.md
  tests/inside-alpine-edge.sh
Due: npm exec -- prettier --check, npm exec -- prettier --check --prose-wrap always

Update README.md
  README.md
Due: npm exec -- prettier --check, npm exec -- prettier --check --prose-wrap always

Simplify README.md
  README.md
Due: npm exec -- prettier --check, npm exec -- prettier --check --prose-wrap always

Treat list as a local setting
  autoload/toggle.vim
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Configure repeat for todo mappings
  ftplugin/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Add a mapping for find with fzf
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Configure keywordprg for Python
  after/ftplugin/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Configure ALE completion for python
  after/ftplugin/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Add mappings for ALE
  ftplugin/python.vim
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Python mappings
  ftplugin/python.vim
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Override Fedora settings
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Use Python 3.10 with reorder Python imports
  ftplugin/reorder.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Mapping to move from tests to function Python code
  ftplugin/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Do filetype detection for .env.local
  filetype.vim
  tests/automated/file-type-detection/fixtures/.env.local
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

`:normal gcc` works in .env and .env.local
  filetype.vim
  ftplugin/dotenv.vim
  tests/automated/file-type-detection/fixtures/.env
  tests/automated/file-type-detection/fixtures/.env.local
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Upgrade prettier
  site.yaml
Due: npm exec -- prettier --check

Use dotenv file type for *.env
  filetype.vim
  ftplugin/dotenv.vim
  tests/automated/file-type-detection/fixtures/example.env
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Don't treat . as an application directory
  ftplugin/reorder.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Open functional code above tests
  ftplugin/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Run site.yaml on Fedora 35
  site.yaml
Due: npm exec -- prettier --check

Merge todo syntax files
  after/syntax/todo.vim
  syntax/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

In todo.txt return opens a URL
  ftplugin/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Syntax highlight cancelled tasks
  colors/mine.vim
  syntax/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Add a mapping to mark todo as cancelled
  ftplugin/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Prefix <CR> for todo inside markdown
  ftplugin/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Refactor cancelling a todo
  autoload/vim.vim
  ftplugin/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Support cancelling a done todo
  autoload/vim.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Change mapping to avoid conflict
  ftplugin/markdown.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Better integrate Black and Flake8
  ftplugin/black.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Shortcut to open Python documentation
  after/ftplugin/python.vim
  autoload/python.vim
  ftplugin/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Rely on per-project flake8 configuration
  ftplugin/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Highlight URLs in markdown syntax in todo.txt
  .reuse/dep5
  after/syntax/todo.vim
  syntax/todo.vim
  tests/manual/todo.txt
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Add backlog.txt to file type detection
  filetype.vim
  tests/automated/file-type-detection/fixtures/backlog.txt
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Also link backlog.txt to done.txt
  autoload/vim.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Sort filetype lines
  filetype.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check

Use py -m pydoc
  autoload/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec -- prettier --check
