Repository maxwell-k/vimfiles: changes, and which lint-staged commands are due for each by the changed paths.
All: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check, npm exec --prefer-offline -- prettier --check --prose-wrap always, npm exec --prefer-offline -- embedme --verify

.lintstagedrc.yaml:

"*.vim": ["awk '$0 ~ /.{81}/ { exit 1 }'", vint -s]
"**/*": npm exec --prefer-offline -- prettier --check
./vimrc: ["awk '$0 ~ /.{81}/ { exit 1 }'", vint -s]
README.md:
  - npm exec --prefer-offline -- prettier --check --prose-wrap always
  - npm exec --prefer-offline -- embedme --verify

Update htmlCommentNoSpell
  after/syntax/htmlCommentNoSpell.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Use ` to denote a code string in todo.txt
  syntax/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Add . to --application-directories for reorder-python-imports
  ftplugin/reorder.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Move to the first line of a commit message
  ftplugin/gitcommit.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Try out vim-test
  LICENSES/Vim.txt
  autoload/test/strategy.vim
  ftplugin/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Also use pytest with vim-test
  ftplugin/python.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Use Python >=3.11 with reorder-python-imports
  ftplugin/reorder.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Simplify html syntax file
  after/syntax/html.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Refactor html syntax file
  after/syntax/html.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Combine TODO from html.vim into htmlCommentNoSpell.vim
  after/syntax/htmlCommentNoSpell.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

refactor: use a zipapp for pipx
  pipx.yaml
Due: npm exec --prefer-offline -- prettier --check

Add filetype detection for Ansible roles
  filetype.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

At least one error is expected with js-yaml
  tests/automated/js-yaml/integration.vader
Due: npm exec --prefer-offline -- prettier --check

Run linkscan on standard input
  autoload/vim.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Support multiple separate `code` phrases per todo
  syntax/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Add an Ansible inventory and configuration
  README.md
  ansible.cfg
  hosts
  tests/README.md
  tests/inside-alpine-edge.sh
  tests/inside-fedora-latest.sh
Due: npm exec --prefer-offline -- prettier --check, npm exec --prefer-offline -- prettier --check --prose-wrap always, npm exec --prefer-offline -- embedme --verify

Add mappings for markdown modelines
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Add a comment to help with development
  README.md
Due: npm exec --prefer-offline -- prettier --check, npm exec --prefer-offline -- prettier --check --prose-wrap always, npm exec --prefer-offline -- embedme --verify

Sort spellfile
  .en.utf-8.add
Due: npm exec --prefer-offline -- prettier --check

Install latest npm during tests
  tests/README.md
  tests/inside-alpine-edge.sh
  tests/inside-fedora-latest.sh
Due: npm exec --prefer-offline -- prettier --check, npm exec --prefer-offline -- prettier --check --prose-wrap always, npm exec --prefer-offline -- embedme --verify

Spell out options long form
  tests/inside-fedora-latest.sh
Due: npm exec --prefer-offline -- prettier --check

Add explicit Fedora steps to the README.md
  README.md
Due: npm exec --prefer-offline -- prettier --check, npm exec --prefer-offline -- prettier --check --prose-wrap always, npm exec --prefer-offline -- embedme --verify

Correct a file name
  tests/automated/jsonlint/integration.vader
Due: npm exec --prefer-offline -- prettier --check

Explicitly ignore the rendered spell file
  .gitignore
Due: npm exec --prefer-offline -- prettier --check

Improve documentation/comments
  pipx.yaml
  site.yaml
Due: npm exec --prefer-offline -- prettier --check

Fix neovim startup
  nvim/init.lua
Due: npm exec --prefer-offline -- prettier --check

Linting (ansible-lint) passes on playbooks
  pipx.yaml
  site.yaml
Due: npm exec --prefer-offline -- prettier --check

Fix pipx install step
  pipx.yaml
Due: npm exec --prefer-offline -- prettier --check

Remove js-yaml linter
  ale_linters/yaml/jsyaml.vim
  site.yaml
  tests/automated/js-yaml/integration.vader
  tests/automated/js-yaml/run.sh
  tests/automated/js-yaml/unit.vader
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Unpin prettier
  site.yaml
Due: npm exec --prefer-offline -- prettier --check

Change from prefer-offline to offline
  site.yaml
Due: npm exec --prefer-offline -- prettier --check

Only set nowrap if filetype is exactly todo
  ftplugin/todo.vim
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Avoid shellcheck -x -x
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Correct filename in comments
  tests/automated/gitignore/run.sh
  tests/automated/gitignore/sort.vader
Due: npm exec --prefer-offline -- prettier --check

Rename vader files to run.vader
  tests/README.md
  tests/automated/bean-format/run.sh
  tests/automated/bean-format/run.vader
  tests/automated/gitignore/run.sh
  tests/automated/gitignore/run.vader
  tests/automated/html/run.sh
  tests/automated/html/run.vader
  tests/automated/jsonlint/run.sh
  tests/automated/jsonlint/run.vader
  tests/automated/python/run.sh
  tests/automated/python/run.vader
Due: npm exec --prefer-offline -- prettier --check, npm exec --prefer-offline -- prettier --check --prose-wrap always, npm exec --prefer-offline -- embedme --verify

List files on separate lines for reuse
  .reuse/dep5
Due: npm exec --prefer-offline -- prettier --check

Remove neovim
  .gitmodules
  .prettierignore
  .reuse/dep5
  nvim/.gitignore
  nvim/README.md
  nvim/ftplugin/lua.lua
  nvim/ftplugin/python.lua
  nvim/init.lua
Due: npm exec --prefer-offline -- prettier --check, npm exec --prefer-offline -- prettier --check --prose-wrap always, npm exec --prefer-offline -- embedme --verify

Improve shell script filetype detection
  after/syntax/sh.vim
  tests/automated/posix/example
  tests/automated/posix/run.sh
  tests/automated/posix/run.vader
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check

Add a mapping for \fa
  vimrc
Due: awk '$0 ~ /.{81}/ { exit 1 }', vint -s, npm exec --prefer-offline -- prettier --check
